/*!
Theme Name: Ion Child Theme
Author: AppPresser Team
Author URI: http://apppresser.com
Description: A starter child theme for the Ion theme.
Version: 1.0.0
Template: ion
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/**
 * Your custom styles go below this line
 * --------------------------------------------------
 */



#main {
  top: 34px;
  background-image: url('http://orig00.deviantart.net/8216/f/2010/273/b/a/seamless_wood_veneer_1_by_agf81-d2zsa1b.jpg');
  padding: 0 8px;
}

 .item-icon {
    width: 48%;
    float: left;
    margin-bottom: 20px;
    margin-right: 4%;
    text-align: center;
    border-top: 6px solid #d55731;
    background-color: #fafafa;
}

.item-icon.last-col {
    margin-right: 0;
    clear: right;
}

.item-icon a {
    display: block;
    padding: 2rem;
    color: #d55731;
}

.item-icon .icon {
    font-size: 5rem;
    margin-bottom: 3rem;
    color: #d55731;
}

/* Customize swiper for intro */

.swiper-container.swiper-slider, .swiper-slider .swiper-slide {

}

.swiper-slide {
    padding-top: 40px;
    text-align: center;
}

.swiper-slide .fa {
    color: #d55731;
}
