// Fixes WP Editor Text - Keeps It Black //
#tinymce p {
    color: black;
}

.navbar {
    margin-bottom: 0px !important;
}

.container-fluid {
    padding: 0px;
}

.main {
    background: url('../../assets/images/main-back.png');
    padding-left: 0;
    padding-right: 0;
    margin-top: -10px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.full {
    margin-left: -15px;
    margin-right: -15px;
}

h1,
h2,
h3,
h4,
h5 {
    color: $white-text;
    font-weight: normal;
    text-shadow: 5px 5px 12px rgba(38, 38, 38, 0.6);
    margin-bottom: 15px;
    font-family: $font-family-header, Times New Roman, serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: $paragraph;
    line-height: 1.1em;
    margin-bottom: 1.5em;
    color: $white-text;
}

.color-3 {
    color: $color-3;
}