// Glyphicons font path
$icon-font-path: "../fonts/";
// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
// Colors
$brand-primary: #fffeee;
$white-text: #fffeee;
$paragraph: 1.6em;
/* ------------------------------------------------------------------------
            SITE FONTS
-------------------------------------------------------------------------- */
@font-face {
	font-family: MatchbookRegular;
	src: url(../fonts/MatchbookRegular.otf);
	font-weight: normal;
}

@font-face {
	font-family: MatchbookTexture;
	src: url(../fonts/MatchbookTexture.otf);
	font-weight: normal;
}

// MAIN FONTS
$font-main: 'Source Sans Pro', Arial, sans-serif;
// body font
$font-weight-header: 700;
$font-family-header: 'MatchbookTexture',
Times New Roman,
serif,
Times New Roman; // header font-family
// MAIN FONTS
$bold: 700;
$regular: 400;
$thin: 200;
/* ------------------------------------------------------------------------
          SITE COLORS
-------------------------------------------------------------------------- */

// MAIN PALETTE
$brand-primary: #d55731; // primary accent color
$color-2: #981f02; // secondary accent color
$color-2-70: rgba(152, 31, 2, .7); // secondary accent color transparent
$color-3: #572314; // dark accents
$color-3-70: rgba(87, 35, 20, .7); // dark accents transparent
$color-4: #6c222c; // med accents
$color-4-70: rgba(108, 34, 44, .7); // med accents transparent
$light-text: #fffeee; // body text, light-colored text
$x-soft-gray: #efefef; // very soft backgrounds, strong text on dark bg
$soft-gray: #e9e9e9; // dividers
$medium-gray: #d0d0d0; // soft background
$dark-gray: #333; // titles, strong text
$x-dark-gray: #111; // titles, strong text on bright bg
// GENERAL
$body-bg: #FFF;
$body-font: #585858;
$link: $brand-primary;
// HEADER
$header-image: '../../images/your-image-here.png';
$header-font: #FFF;
$header-submenu-bg: #FFF;
$header-submenu-font: #3f3f3f;
// BOTTOM PANEL
$bottom-panel-bg: #000;
$bottom-panel-title: $x-soft-gray;
$bottom-panel-font: #FFF;
