.rw-wrapper{
	position: relative;
  font-family: 'Source Sans Pro', sans-serif;
	height: 400px;
	overflow: hidden;
}
.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 5px 5px 5px rgba(38,38,38,0.8);
}
.rw-sentence span{
	color: $white-text;
	font-size: 2em;
	font-weight: normal;
	margin-left: 10px;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	margin-left: 15px;
	color: #cca14d;
	-webkit-transform-origin: 10% 75%;
	transform-origin: 10% 75%;
	-webkit-animation: rotateWord 9s linear infinite 0s;
	-ms-animation: rotateWord 9s linear infinite 0s;
	animation: rotateWord 9s linear infinite 0s;
}
.rw-words span:nth-child(2) {
    -webkit-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
	color: #cca14d;
}
.rw-words span:nth-child(3) {
    -webkit-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
	color: #cca14d;
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    5% { opacity: 1; }
    17% { opacity: 1; -webkit-transform: rotate(0deg); }
		19% { opacity: 1; -webkit-transform: rotate(98deg); }
		21% { opacity: 1; -webkit-transform: rotate(86deg); }
		23% { opacity: 1; -webkit-transform: translateY(85px) rotate(83deg); }
		25% { opacity: 0; -webkit-transform: translateY(170px) rotate(80deg); }
		80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    5% { opacity: 1; }
    17% { opacity: 1; -ms-transform: rotate(0deg); }
		19% { opacity: 1; -ms-transform: rotate(98deg); }
		21% { opacity: 1; -ms-transform: rotate(86deg); }
		23% { opacity: 1; -ms-transform: translateY(85px) rotate(83deg); }
		25% { opacity: 0; -ms-transform: translateY(170px) rotate(80deg); }
		80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    5% { opacity: 1; }
    17% { opacity: 1; -webkit-transform: rotate(0deg); transform: rotate(0deg); }
		19% { opacity: 1; -webkit-transform: rotate(98deg); transform: rotate(98deg); }
		21% { opacity: 1; -webkit-transform: rotate(86deg); transform: rotate(86deg); }
		23% { opacity: 1; -webkit-transform: translateY(85px) rotate(83deg); transform: translateY(85px) rotate(83deg); }
		25% { opacity: 0; -webkit-transform: translateY(170px) rotate(80deg); transform: translateY(170px) rotate(80deg); }
		80% { opacity: 0; }
    100% { opacity: 0; }
}
