.page-template-template-beer {
    .navbar-default {
        background-image: url('../../assets/images/beer-header.png');
        background-size: cover;
    }
    h2{
       text-shadow: none;
        font-family: $font-main;
        font-weight: $bold;
        font-size: 2.7em;
        margin-bottom: 2px; 
        
    }
    h3 {
        text-shadow: none;
        font-family: $font-main;
        font-weight: $bold;
        font-size: 2.2em;
        margin-bottom: 2px;
    }
    p {
        padding-top: 5px;
    }
    h5 {
        text-shadow: none;
        font-family: $font-main;
        font-weight: $regular;
        font-style: italic;
        font-size: 1.5em;
        margin-bottom: 2px;
    }
    .lowercase{
        text-transform: lowercase;
    }
}