.page-id-6 {
    .navbar-default {
        background-image: url('../../assets/images/catering-header.png');
        background-size: cover;
    }
    .event-types {
        background: rgba(46, 5, 8, .35);
        margin: 2%;
        padding: 15px;
        display: table-cell;
        div {
            display: table-cell;
        }
    }
    .spacing {
        margin: 10px 0;
    }
    .quote {
        background-image: url('../../assets/images/dark-rectange-background-full.png');
        background-size: cover;
        padding: 15px;
        margin: 2%;
        label {
            color: $light-text;
        }
        label,
        .ninja-forms-required-items {
            color: $light-text;
        }
        .ninja-forms-required-items {
            padding: 15px;
        }
        .quarter-wrap {
            @include make-sm-column(3);
        }
        .third-wrap {
            @include make-sm-column(4);
        }
        .half-wrap {
            @include make-sm-column(6);
        }
        hr.full {
            @include make-sm-column(12);
            padding: 15px;
            width: 100% !important;
        }
        .full-wrap {
            @include make-sm-column(12);
            margin-left: 15px;
        }
        input[type="number"] {
            width: 50px;
        }
        .checkbox-wrap {
            margin-left: 15px;
        }
        .nf-desc {
            font-size: 1em;
            margin-left: 15px;
            clear: both;
        }
        .calc-wrap,
        .number-wrap,
        .tax-wrap {
            clear: both;
            padding-left: 15px;
        }
        div#ninja_forms_field_68_div_wrap {
            clear: both;
        }
    }
    /* END CATERING */
}