.page-template-template-draft {
    header {
        display: none;
    }
    main {
        background-image: none;
        background-color: $light-text;
    }
    h1 {
        text-shadow: none;
        color: $color-3;
    }
    h3 {
        text-shadow: none;
        font-family: 'Bebas Neue', $font-main;
        color: $color-2;
        font-size: 2.4em;
        margin-bottom: 2px;
    }
    p {
        padding-top: 5px;
        font-family: 'PT Sans Italic', $font-main;
        font-style: italic;
        color: $color-3;
        margin-bottom: 2px;
    }
    h5 {
        color: $brand-primary;
        text-transform: uppercase;
        text-shadow: none;
        font-family: 'Bebas Neue', $font-main;
        font-weight: $regular;
        font-size: 1.5em;
        margin: 2px;
        margin-bottom: 2px;
    }
    footer {
        display: none;
    }
}

.border {
    border-style: dotted;
    border-width: thick;
    border-color: $color-4;
    padding: 40px;
    margin-top: 20px;
}