.page-template-template-drinks-1,
.page-template-template-drinks-2,
.page-template-template-draft {
    header {
        display: none;
    }
    main {
        background-image: none;
        background-color: $light-text;
    }
    h1 {
        text-shadow: none;
        color: $color-3;
    }
    h2 {
        text-shadow: none;
        font-family: 'bebas-neue', $font-main;
        color: $color-2;
        font-size: 3em;
    }
    h3 {
        text-shadow: none;
        font-family: 'bebas-neue', $font-main;
        color: $color-2;
        font-size: 2.4em;
        margin-bottom: 2px;
    }
    h5 {
        color: $brand-primary;
        text-transform: uppercase;
        text-shadow: none;
        font-family: 'bebas-neue', $font-main;
        font-weight: $regular;
        font-size: 1.5em;
        margin: 2px;
        margin-bottom: 2px;
    }
    footer {
        display: none;
    }
    .border {
        border-style: dotted;
        border-width: thick;
        border-color: $color-3;
        padding: 30px;
        margin-top: 20px;
        min-height: 100%;
    }
    hr {
        min-height: 10px;
        background-color: $color-4;
    }
    .drink-container {
        overflow: hidden;
    }
    .right {
        float: right;
        width: 40px;
    }
    .left {
        float: left;
        width: 90%;
    }
    .left:before {
        float: right;
        width: 10%;
        white-space: nowrap;
        content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
        margin-right: 0px;
        margin-top: 5px;
        overflow: hidden;
    }
    .middle {
        margin: 0 40px 0 60%;
        border-bottom: 3px dotted $color-2;
    }
    /* Print Styles */
    
    @media screen and (max-width: 11in) {
        /* resize your window until the event is triggered */
        
        html {
            width: 11in;
        }
        body {
            font: 20pt/1.5 Arial, sans-serif;
        }
    }
    /* * * * * * * * * * * 
*      Dot Leader SAMPLE
* * * * * * * * * * * */
    /* * * * * * * * * * * 
*      Dot Leader
* * * * * * * * * * * */
    
    ul.leaders {
        padding: 0;
        overflow-x: hidden;
        list-style: none;
        width: 100%;
        li:before {
            float: left;
            width: 0;
            white-space: nowrap;
            color: $color-3;
            content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
        }
        span:first-child {
            padding-right: 0.33em;
            background-color: $light-text;
        }
        span + span {
            float: right;
            padding-left: 0.33em;
            background-color: $light-text;
            text-align: right;
        }
        span + span:before {
            padding-right: 0.15em;
        }
        .drink {
            color: $brand-primary;
            text-transform: uppercase;
            text-shadow: none;
            font-family: 'bebas-neue', $font-main;
            font-weight: $regular;
            font-size: 1.5em;
            .details p {
                font-size: 1em;
                text-transform: none;
                font-family: 'PT Sans Italic', $font-main;
                font-style: italic;
                color: $color-3;
                margin-bottom: 2px;
            }
        }
    }
}

.page-template-template-drinks-2 {
    li.drink {
        display: table-row;
    }
    body {
        font-size: 60% !important;
    }
    span {
        padding-right: 0.33em;
        background-color: $light-text;
    }
}

.page-template-template-draft {
    ul.leaders {
        li.drink {
            display: table;
            width: 100%;
        }
        li:before {
            content: none;
        }
    }
}