single-tribe_events {
    .navbar-default {
        background-image: url('../images/fun-background.png');
        h3.tribe-events-single-section-title {
            text-shadow: none;
        }
    }
}

.post-type-archive-tribe_events {
    .navbar-default {
        background-image: url('../../assets/images/events-header.png');
        background-size: cover;
    }
}

p.tribe-events-back,
li.tribe-events-nav-previous,
li.tribe-events-nav-next {
    background-color: $color-3;
    padding: 15px;
    border-radius: 10px;
    a {
        color: $light-text;
    }
}

.tribe-events-button {
    background-color: $light-text !important;
    color: $color-3 !important;
}

.tribe-bar-date-filter {
    display: none;
}

.tribe-events-event-meta {
    background-color: $color-4-70 !important;
    border: none !important;
    color: $light-text;
    font-size: 1.3em !important;
}

.tribe-events-event-image
{
    display: table-cell;
}

.tribe-events-event-meta {
    background-color: $color-4-70 !important;
    border: none !important;
    color: $light-text;
    font-size: 1.3em !important;
    padding: 10px;
}

.tribe-events-list-separator-month {
    text-align: left !important;
    padding: 10px;
    background-color: $color-2 !important;
    color: $light-text;
    span {
        background-color: $color-2 !important;
    }
    &:after {
        border-bottom: none;
    }
}

h2.tribe-events-list-event-title a {
    color: $light-text !important;
}

.post-type-archive-tribe_events .page-header {
    display: none;
}

a.tribe-event-url {
    text-shadow: none;
}

div#tribe-events {
    margin-top: 50px;
}