footer {
    background: url('../../assets/images/main-back-med.png');
    padding: 0px 0px;
    h3 {
        font-family: $font-main;
        text-transform: uppercase;
        text-shadow: none;
    }
    section.widget {
        width: 22%;
        padding-left: 5%;
        padding-top: 5%;
        display: block;
        float: left;
        h2 {
            margin: 5px 0px;
            a {
                color: #cca14d;
                text-decoration: none;
                font-family: Source Sans Pro;
                text-transform: uppercase;
                text-shadow: none;
            }
        }
    }
}

.fa-stack,
.fa-stack a {
    color: #cca14d;
}

.fa-circle-thin {
    font-size: 2.3em;
    line-height: .95em;
}

.copyright {
    background-color: #572314;
    width: 100%;
    margin-top: 30px;
    padding: 30px 0px 0px 0px;
    font-size: .7em;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    footer section.widget {
        width: 50%;
    }
    .fun {
        background: url('../../assets/images/main-back.png');
    }
}

@media screen and (max-width: 460px) {
    footer section.widget {
        width: 95%;
    }
}