.gallery { margin: 0 auto 18px; }
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item { width: 50%; }
.gallery-columns-4 .gallery-item { width: 25%; }
.gallery img {
	box-shadow: 0px 0px 4px #999;
	border: 1px solid $light-text;
	padding: 8px;
	background: $light-text;
  margin: 15px 0;
}
.gallery img:hover {
	background: $light-text;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl, .gallery dt { margin: 0; }
.gallery br+br { display: none; }

#lightboxImage {
    border: none;
		padding: 0;
		background: #fff;
		box-shadow: none;
		margin: 0;
  }

#jqlb_closelabel {
	height: 40px;
	background: #fff;
	box-shadow: none;

}

/* For displaying 3 columns on tablet */
@media only screen and (max-width: 800px) {
 .gallery-columns-3 .gallery-item {
     width: 33%;
 }
}

/* For displaying single column on mobile */
@media only screen and (max-width: 480px) {
 .gallery-columns-3 .gallery-item {
     width: 100%;
 }
}

.gallery-columns-3 .gallery-item:nth-child(5n+1) {
     clear: none;
}
