header .container {
    width: 80%;
}

.navbar-default {
    background-image: url('../images/home-header.png');
    background-position: center;
    background-size: cover;
    height: 600px;
    border-color: transparent;
}

.navbar-header {
    margin-bottom: 0;
    visibility: hidden;
    width: 90%;
}

.navbar {
    .container {
        margin-top: -100px;
        background: url('../../assets/images/menu-background.png') center center no-repeat;
        background-size: contain;
    }
}

ul#menu-main-navigation {
    margin: auto 3%;
    display: table;
    width: 94%;
    li {
        display: table-cell;
        width: 15%;
        a {
            margin: 225px auto 0 auto;
            width: 100%;
            vertical-align: middle;
            padding: 3%;
            height: 300px;
            text-align: center;
        }
    }
    li#menu-item-46 {
        padding-left: 10px;
        width: 20%;
    }
    li#menu-item-16 {
        padding-right: 5%;
        width: 20%;
    }
    li#menu-item-82 {
        width: 30%;
        background: url('../../assets/images/menu-logo.png') center center no-repeat;
        background-size: 80%;
        a {
            font-size: 0;
            margin-top: 185px;
        }
    }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: inherit;
}

.menu-main-navigation-container {
    min-height: 60px;
    a {
        font-family: $font-family-header, Times New Roman, serif;
        color: $light-text !important;
        font-size: 180%;
    }
}
/*1200 breakpoint*/

@media screen and (max-width: 1200px) {
    .menu-main-navigation-container {
        min-height: 60px;
        a {
            font-family: $font-family-header, Times New Roman, serif;
            color: $light-text !important;
            font-size: 140%;
        }
    }
}
/*960 breakpoint*/

@media screen and (max-width: 960px) {
    .navbar-default {
        height: 500px;
    }
    header .container {
        width: 95%;
    }
    .menu-main-navigation-container {
        min-height: 60px;
        a {
            font-family: $font-family-header, Times New Roman, serif;
            color: $light-text !important;
            font-size: 110%;
        }
    }
}
/*740 breakpoint*/

@media screen and (max-width: 740px) {
    .navbar-default {
        height: 350px;
    }
    .menu-main-navigation-container {
        min-height: 60px;
        a {
            font-family: $font-family-header, Times New Roman, serif;
            color: $light-text !important;
            font-size: 90%;
        }
    }
}
/*700 breakpoint*/

@media screen and (max-width: 700px) {
    header .container {
        width: 100%;
        padding: 0px;
        .navbar-header {
            background-color: $color-2-70;
            margin: 0px;
            visibility: visible;
            width: 100%;
            a {
                color: $light-text;
                font-family: $font-family-header, Times New Roman, serif;
            }
        }
    }
    .navbar {
        .container {
            margin-top: 0px;
            background: none;
        }
    }
    ul#menu-main-navigation {
        margin: 0px;
        display: block;
        width: 100%;
        background: none;
        li {
            display: block;
            width: 100%;
            background-color: $color-2-70;
            a {
                padding: 15px;
                display: table-cell;
                width: 100%;
                height: 30px;
                margin: 0 auto;
                text-align: left;
            }
        }
        li#menu-item-46 {
            padding-left: inherit;
            width: inherit;
        }
        li#menu-item-16 {
            padding-right: inherit;
            width: inherit;
        }
        li#menu-item-82 {
            display: none;
        }
    }
}