.page-template-template-menu {
    .navbar-default {
        background-image: url('../../assets/images/menu-header.png');
    }
    h3 {
        text-shadow: none;
        font-family: $font-main;
        font-weight: $bold;
        font-size: 2.2em;
        margin-bottom: 2px;
    }
    p {
        padding-top: 5px;
    }
    .featured-item {
        background-color: #1f0202;
        display: block;
        float: right;
        width: 45%;
        padding: 5%;
        margin-left: -20px;
        margin-right: 20px;
        .image {
            max-height: 250px;
            overflow: hidden;
            margin: 5px;
        }
        img{
            width:100%;
            height: auto;
            margin-top: -30px;
        }
        p {
            font-size: 1.2em;
            margin-bottom: 10px;
        }
    }
}