.page-header {
    border-bottom: none;
    color: $white-text;
    font-weight: normal;
    text-shadow: 5px 5px 5px rgba(38, 38, 38, 0.5);
}

.pad {
    padding: 0 9.5rem;
}

.moveup {
    margin-top: -270px;
}

.cta {
    background-color: #572314;
    min-height: 180px;
    padding: 5% 0;
    display: block;
    padding-left: 20px;
    .cta-text {
        color: $white-text;
        font-size: 2.2em;
        padding-top: 3%;
        font-weight: $bold;
    }
}

.shadow {
    -moz-box-shadow: 0 0 30px 5px #222;
    -webkit-box-shadow: 0 0 30px 5px #222;
}
/*ABOUT PAGE */

.meet-brian {
    background-image: url('../../assets/images/dark-rectange-background.png');
}

.orange {
    background-color: #981f02;
}
/* END ABOUT PAGE */
/*HOME PAGE */

.serious {
    padding: 40px 0;
    background-color: #981f02;
    color: $white-text;
    background-image: url('../../assets/images/pig-background.png');
    background-repeat: no-repeat;
    background-position: right;
    min-height: 650px;
}

.easy-t-cycle-pager {
    display: none;
}

img.attachment-thumbnail.size-thumbnail.wp-post-image {
    float: left;
}

h4.tribe-event-title {
    float: none;
    display: block;
}

.tribe-event-duration {
    clear: both;
    display: block;
}

.specials {
    padding: 40px 40px;
    background: url('../../assets/images/specials-background.png') center center no-repeat;
    min-height: 670px;
    h1 {
        margin-left: 7%;
    }
    h3 {
        text-align: center;
        padding: 0px 10%;
        font-family: $font-main;
        font-size: 1.7em;
        a {
            color: #fffeee;
            text-decoration: none;
            text-shadow: none;
        }
    }
    p {
        padding: 0px 40px;
        text-transform: none;
        font-size: 1.3em;
    }
    .card-grid {
        margin-left: 6%;
        height: 260px;
        padding: 0px;
        margin-bottom: 30px;
        margin-top: 20px;
        overflow: hidden;
    }
    .front {
        min-height: 260px;
        background: rgb(0, 0, 0);
        /* Fall-back for browsers that don't support rgba */

        background: rgba(0, 0, 0, .4);
        text-transform: uppercase;
    }
    .back {
        img {
            width: 100%;
            max-height: 260px;
            border: 5px solid #fff;
        }
    }
}

span.testimonial-client {
    font-weight: $bold;
    margin: 10px 0px;
    font-style: normal;
}

.easy_testimonial_title {
    font: 2em $font-family-header, serif;
    text-shadow: 5px 5px 5px rgba(38, 38, 38, 0.6);
}

.easy-t-cycle-controls {
    display: none;
}
/* MAILCHIMP FORM */

#mc_embed_signup {
    h2 {
        font-family: $font-main;
        text-transform: uppercase;
        font-size: 3.5em;
        font-weight: $bold;
        text-align: center;
        text-shadow: none;
    }
    .mc-field-group label {
        color: $light-text;
    }
    input#mc-embedded-subscribe {
        background-color: rgba(0, 0, 0, .8);
        text-transform: uppercase;
        font: 1.5em $font-main;
        font-weight: $bold;
        text-align: center;
        min-width: 350px;
        min-height: 50px;
        max-width: 100%;
    }
    .indicates-required {
        color: #fffeee;
    }
}
/* END MAILCHIMP FORM */


.dark {
    background: url('../../assets/images/main-back-dark.png');
    min-height: 625px;
    max-height: 100%;
    padding: 80px;
}

.light {
    background: url('../../assets/images/main-back.png');
}

.eventsdisplay {
    padding: 5rem 9.5rem;
    background-color: #38060a;
    min-height: 350px;
}

.fun {
    padding: 5rem 9.5rem;
    background: url('../../assets/images/fun-background.png') top center no-repeat;
    min-height: 650px;
    h3 {
        font-size: 3.3em;
        font-family: Source Sans Pro;
        text-shadow: none;
        font-weight: 600;
    }
}
/* END HOME PAGE */
