@media print {
    body {
        background: white !important;
        font-size: 20pt !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 8.5in !important;
        font-size: 80% !important;
        line-height: normal !important;
    }
    #sidebar {
        display: none !important;
    }
    #header {
        height: 75px !important;
    }
    #content {
        margin-left: 0 !important;
        float: none !important;
        width: auto !important;
    }
    .col-sm-6 {
        width: 48% !important;
        display: inline-block !important;
    }
    @page {
        margin: .5cm;
    }
    .demo .red {
        color: black !important;
        font-weight: bold !important;
    }
    #content a {
        font-weight: bold !important;
        color: #000066 !important;
        text-decoration: underline !important;
    }
    #content {
        margin-left: 0 !important;
        float: none !important;
        width: auto !important;
    }
    #footer {
        display: none !important;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid !important;
        page-break-inside: avoid !important;
        padding-top: 8px !important;
        padding-bottom: 10px !important;
    }
    h2 {
        color: #981f02 !important;
    }
    h3 {
        color: #981f02 !important;
    }
    blockquote,
    table,
    pre {
        page-break-inside: avoid
    }
    ul,
    ol,
    dl {
        page-break-before: avoid
    }
    img.centered {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    img.right {
        padding: 4px !important;
        margin: 0 0 2px 7px !important;
        display: inline !important;
    }
    img.left {
        padding: 4px !important;
        margin: 0 7px 2px 0 !important;
        display: inline !important;
    }
    .right {
        display: inline-block!important;
        width: 40px !important;
    }
    .left {
        float: left !important;
        width: 90% !important;
    }
    img {
        page-break-inside: avoid !important;
        page-break-after: avoid !important;
    }
    hr {
        min-height: 6px !important;
        background-color: $color-4 !important;
        margin: 15px 0px !important;
    }
    ul.leaders {
        li:before {
            color: $color-3 !important;
        }
        span:first-child {
            background-color: white !important;
            max-width: 60%;
        }
        span + span {
            background-color: white !important;
        }
        .drink span {
            color: #d55731 !important;
            .details p {
                color: $color-3 !important;
            }
        }
    }
    .color-3 {
        color: $color-3 !important;
    }
    .brand-primary {
        color: $brand-primary !important;
    }
    body.page-template-template-drinks-2,
    body.page-template-template-drinks-1 {
        font-size: 80% !important;
        line-height: 250% !important;
    }
}

.page-template-template-draft {
    h1 {
        font-size: 4em !important;
    }
    font-size: 69% !important;
    width: 11in !important;
    line-height: normal !important;
    img {
        padding: 4px !important;
        margin: 0 7px 2px 0 !important;
        display: inline !important;
    }
    .border {
        padding: 20px !important;
    }
}