@media screen and (max-width: 768px) {
    .testimonials {
        padding: 30px 20px;
    }
    footer section.widget {
        width: 50%;
    }
    .fun {
        background: url('../../assets/images/main-back.png');
    }
}

@media screen and (max-width: 460px) {
    footer section.widget {
        width: 95%;
    }
    .testimonials {
        padding: 10px 5px;
    }
}