.sidebar {
    padding: 5%;
    h3, h4 {
        font-family: $font-main;
        text-shadow: none;
    }
    h3 {
        font-style: italic;
    }
}

h4.tribe-event-title a {
    margin-top: 10px;
    float: none;
    font-family: $font-main;
    color: $light-text;
    text-shadow: none;
}

ol.tribe-list-widget {
    padding-left: 0px;
    .tribe-event-duration {
        color: $light-text;
    }
}